@using Models
@model  IEnumerable<Vote>
<h2>
    Welcome to my blog!!!
</h2>
<br>
Whould you please open the <a href="/Home/Topics">List of topics</a>

@section Vote{
    <br />
    <div id="Vote" class="rounded">
        @using (Html.BeginForm())
        {
            <p><h3>Are you agree?</h3></p>
            foreach (Vote v in Model)
            {
                <p>@Html.RadioButtonFor(model => model.</p>
                <p>@Html.RadioButton("yesno", v.VoteId) @v.Position</p>
            }
            <input type="submit" value="Vote" />
        }
        
</div>
    
}