@using Models
@model  VoteVM
<h2>
    Welcome to my blog!!!
</h2>
<br>
Whould you please open the <a href="/Home/Topics">List of topics</a>

@section Vote{
    <br />
    <div id="Vote" class="rounded">
        @using (Html.BeginForm())
        {
            <p><h3>Are you sure?</h3></p>
            foreach (Vote v in Model.votes) 
            { 
                <p>@Html.RadioButtonFor(model => model.selectedVote, v.VoteId) @v.Position</p>
            }
            <input type="submit" value="Vote" />
        }
        
    </div>
    
        @if (Model.votes[0].Count != 0 || Model.votes[1].Count != 0) 
        { 
            <p style="color:black; font-weight:bold; padding-left:10px" >@Model.votes[0].Count are agreed </p>
            <p style="color:black; font-weight:bold; padding-left:10px">@Model.votes[1].Count are unsure </p>
        }
    }